body{
    margin: 0;
    padding: 0;
    font-family: 'Salsa', cursive;
    background-color: #f20044;
    color: white;
    line-height: 50px;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}
h1{
    display: block;
    margin-top: 80px;
    font-size: 70px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 20px;
    float: right;
    margin-right: 100px;
}
.ctr-1{
    position: absolute;
    width: 250px;
    text-align: justify;
    line-height: 25px;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 20px;
}
.ctr-2{
    position: absolute;
    width: 250px;
    text-align: justify;
    line-height: 25px;
    font-size: 16px;
    margin-left: 1070px;
    margin-top: -170px;
}
