body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Salsa', cursive;
}
.heart{
    width: 200px;
    height: 200px;
    background-color: #f20044;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation: heartbeat 1s linear infinite;
}
@keyframes heartbeat{
    0%{
        transform: rotate(-45deg) scale(1.07);
    }
    80%{
        transform: rotate(-45deg) scale(1.0);
    }
    100%{
        transform: rotate(-45deg) scale(0.8);
    }
}
.heart::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #f20044;
    top: -50%;
    border-radius: 100px;
    box-shadow: -10px -10px 90px #f20044;
}
.heart::after{
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #f20044;
    right: -50%;
    border-radius: 100px;
    box-shadow: 10px 10px 90px #f20044;
}
.msg{
    position: absolute;
    margin-top: -130px;
}
.msg a{
    color: white;
    font-size: 40px;
    text-decoration: none;
}